<h1>投稿一覧</h1>
<% @post.each do |post| %>

  <% post.post_images.each do |image| %>
    <%= attachment_image_tag image, :image, size: "50x50", fallback: "no_image.jpg" %>
  <% end %>
  <%= link_to public_post_path(post) do %>
    <%= post.title %>
  <% end %>
  <%= post.content %>
  <%= post.price %>
  <%= post.address %> 
<% end %>
