
<div class="col-md-12">
    <% @post.each do |post| %>
        <div class="posts" >
          <%= link_to public_post_path(post) do %>
            <%= attachment_image_tag post.post_images.first, :image, size: "300x200", fallback: "no_image.jpg" %>
            <div class="text-center">
              <%= post.title %>
            </div>
            <div class="row">
              <div class="text-left">
                <%= post.user.name %>
              </div>
              <div class="text-rigth">
                <%= post.favorites.count %> いいね
              </div>
            </div>
          <% end %>
        </div>
    <% end %>
  </div>
</div>