<div class="container">
  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <% if flash[:success] %>
          <h4 class="alert alert-success text-center"><%= flash[:success] %></h4>
        <% end %>

        <% if @post.errors.any? %>
          <div class="error_explanation">
          <h2 class="text-center"><%= @post.errors.count %>errors prohibited this obj from being saved:</h2>
            <ul>
              <% @post.errors.full_messages.each do |message| %>
              <p class="text-center"><%= message %></p>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h1 class="page-title text-center">New Post</h1>
    </div>
  </div>
  <%= form_for(@post, url: public_user_posts_path) do |f| %>
  <div class="form-text">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <%= f.label :title %>
          <%= f.text_field :title, class:"form-control" %>
        </div>
      </div>
    </div>
  </div>
  <div class="form-text">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <%= f.label :content %>
          <%= f.text_area :content, class:"form-control" %>
        </div>
      </div>
    </div>
  </div>
  <div class="form-text">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <%= f.label :Photo %>
          <%= f.fields_for :post_images do |t| %>
            <%= render 'post_image_fields', f: t %>
          <% end %>
          <div class="links">
            <%= link_to_add_association "Add Photo", f, :post_images, class:"btn btn-success" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-text">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <%= f.label :Zip %>
          <%= f.text_area :address, class:"form-control" %>
        </div>
      </div>
    </div>
  </div>
  <div class="form-text">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <%= f.fields_for :tags do |t| %>
            <%= render 'tag_fields', f: t %>
          <% end %>
          <div class="links">
            <%= link_to_add_association "Add Tag", f, :tags ,class:"btn btn-success" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-text">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <%= f.submit "Submit",class:"btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
