<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="text-center">
        <h1><%= @post.title %></h1>
        <ul class="bxslider">
          <% @post.post_images.each do |image| %>
              <%# <%= attachment_image_tag image, :image, size: "750x500", fallback: "no_image.jpg" %> 
            <li><%= attachment_image_tag image, :image, size: "750x500" %></li>
          <% end %>
        </ul>
        <div class="row">
          <% @post.post_tags.each do |post_tag| %>
            <%= post_tag.tag.name %>
          <% end %>
        </div>
        <p>投稿者コメント<br><%= @post.content %></p>
        <div class="row">
          <p class="col-md-5 text-center">¥<%= @post.price %></p>
          <p class="col-md-2"></p>
          <div class="col-md-5 text-center">
            <% if @post.favorited_by?(current_user) %>
                <%= link_to public_post_favorites_path(@post), method: :delete do %>
                  <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
                  <%= @post.favorites.count %> いいね
                <% end %>
            <% else %>
                <%= link_to public_post_favorites_path(@post), method: :post do %>
                  <i class="fa fa-heart-o" aria-hidden="true"></i>
                  <%= @post.favorites.count %> いいね
                <% end %>
            <% end %>
          </div>
          <%= link_to '地図アプリで開く', "https://www.google.com/maps/search/?api=1&query=#{@post.address}".html_safe, class: 'button' %>
        </div>
      </div>
    </div>

    <div class="col-md-3">
        <div class="text-center">
          <%= form_for(@comment, url: public_post_comments_path(@post)) do |f| %>
            <div class="form-group">
              <%= f.text_area :content,class:"text",placeholder: "コメントをここに" %> 
              <div class="text-center">
                <%= f.submit "送信する" ,class:"btn btn-secondary"%>
              </div>
            </div>
          <% end %>
        </div>
        <h3>コメント一覧</h3>
        <% @post.comments.each do |comment| %>
          <div class="row">
            <div class="text-left">
              <%= link_to public_user_path(comment.user.id) do %>
                <%= attachment_image_tag comment.user.profile_image, :profile_image, size: "50x50", fallback: "no_image.jpg" %>
              <% end %>
            </div>
            <div class="text-rigth">
              <%= comment.content %>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>


