<%= javascript_include_tag 'public/posts_show.js' %>
<div class="container">
  <div class="wrap">
    <ul id="tab-menu-post" class="clearfix">
      <div class="row">
        <div class="col-3"><a href="#tab1" class="active">Details</a></div>
        <div class="col-3"><a href="#tab2" class="">Map</a></div>
        <div class="col-3"><a href="#tab3" class="">Comment</a></div>
        <div class="col-3"><a href="#tab4" class="">Favorite</a></div>
      </div>
    </ul>
    <div id="tab-contents-post" class="clearfix">
      <div id="tab1" class="tab">
        <div class="row">
          <div class="col-12">
            <h1 class="page-title text-center"><%= @post.title %></h1>
          </div>
        </div>
        <div class="col-12">
          <div class="text-center">
            <div claas="col-12">
              <ul class="bxslider">
                <% @post.post_images.each do |image| %>
                  <li class="text-center"><%= attachment_image_tag image, :image,class:"show-bxslider", fallback: "no_image.jpg" %></li> 
                <% end %>
              </ul>
            </div>
            <div class="row">
              <div class="post-show col-12 col-sm-9 col-md-9 col-lg-9">
                <div class="text-center">
                  <% @post.post_tags.each do |post_tag| %>
                    <%= link_to public_tag_path(post_tag.tag.id),class:"btn btn-primary btn-sm tag-ranking" do %>
                      <%= post_tag.tag.name %>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <div class="post-show col-12 col-sm-3 col-md-3 col-lg-3">
                <% if user_signed_in? %>
                  <% if @post.favorited_by?(current_user) %>
                    <%= link_to public_post_favorites_path(@post),data: {"turbolinks" => false}, method: :delete do %>
                      <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
                      <%= @post.favorites.count %> いいね
                    <% end %>
                  <% else %>
                    <%= link_to public_post_favorites_path(@post),data: {"turbolinks" => false}, method: :post do %>
                      <i class="far fa-heart" aria-hidden="true" style="color: black;"></i>
                      <%= @post.favorites.count %> いいね
                    <% end %>
                  <% end %>
                <% else %>
                  <p><%= @post.favorites.count %>いいね</p>
                <% end %>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="row">
                      <div class="col-12 text-center post-show">
                        <%= link_to public_user_path(@post.user.id) do %>
                          <%= attachment_image_tag @post.user, :profile_image, fallback: "no_image.jpg" %>
                          <div class="row">
                            <div class="col-12 text-center">
                              <p class="user_name"><%= @post.user.name %></p>
                            </div>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                  <div class="col-8 post-user-comment post-show">
                    <p class="text-center">投稿者コメント</p>
                    <p class="text-center"><%= @post.content %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="tab2" class="tab">
        <div class="row">
          <div class="col-12 post-show">
            <h3 class="text-center post-show">住所：<%= @post.address %><h3>
            <div id="map"></div>
            <script type="text/javascript">
                handler = Gmaps.build('Google');
                handler.buildMap({ provider: { scrollwheel: false }, internal: {id: 'map'}}, function(){
                markers = handler.addMarkers([
                {
                "lat": <%= @post.latitude %>,
                "lng": <%= @post.longitude %>
                }
                ]);
                handler.bounds.extendWith(markers);
                handler.fitMapToBounds();
                handler.getMap().setZoom(17);
                });
            </script>
          </div>
        </div>
      </div>
      <div id="tab3" class="tab">
        <div class="col-12">
          <div class="text-center">
            <%# <%= render 'public/posts/comment_form', comment: @comment, post: @post %> 
            <%= form_for(@comment, url: public_post_comments_path(@post)) do |f| %>
              <div class="form-text">
                <div class="form-group">
                  <%= f.text_area :content,class:"text",placeholder: "Text" %> 
                  <div class="text-center">
                    <%= f.submit "送信する" ,class:"btn btn-secondary"%>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <%# <%= render 'public/comments/comment_index', comments: @comments %> 
          <h3 class="text-center">Comment</h3>
          <table class="table table-striped">
              <tr class="row">
                <th class="col-2 text-center">User</th>
                <th class="col-3 text-center">Day</th>
                <th class="col-7 text-center">Comment</th>
              </tr>
            <% @comments.each do |comment| %>
            <%# <div class="post-show"> %>
                <tr class="row">
                  <td class="col-2 text-center">
                    <%= link_to public_user_path(comment.user.id) do %>
                      <%= attachment_image_tag comment.user, :profile_image,class:"comment_profile", fallback: "no_image.jpg" %>
                    <% end %>
                  </td>
                  <td class="col-3 text-center day"><%= comment.created_at.strftime("%Y/%m/%d") %></td>
                  <td class="col-7 text-center day"><%= comment.content %></td>
                </tr>
            <% end %>
          </table>
        </div>
      </div>
      <div id="tab4" class="tab">
        <div class="row">
          <div class="col-12">
            <h1 class="text-center">Favorite_Users</h1>
            <div class="text-center">
              <% @favorites.each do |favorite|%>
                <div id="posts">
                  <div class="post_image">
                    <%= link_to public_user_path(favorite.user.id) do %>
                      <%= attachment_image_tag favorite.user, :profile_image, class:"image", fallback: "no_image.jpg" %>
                    <% end %>
                  </div>
                  <div class="post_text">
                      <div class="text-center">
                        <%= favorite.user.name %>
                      </div>
                    <div class="row">
                      <div class="col-12 text-center">
                        <% unless favorite.user.introduction.nil? %>
                          <%= favorite.user.introduction.truncate(20) %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
              <%= paginate @favorites %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


