

<div id="map"></div>
<script type="text/javascript">
    
    function initMap() {

      //初期表示位置
      var latlng = new google.maps.LatLng(34.41, 135.31);
      //デザイン
      var styles = [
           {
            stylers: [
             { "saturation": -0 },
             { "lightness": -0 }
            ]
           }
          ];

      var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 9,
          styles: styles,
          center: latlng
      });
      var transitLayer = new google.maps.TransitLayer();
      transitLayer.setMap(map);

      //複数マーカー ここから
      <% @posts.each do |post| %>
      (function(){
        var contentString = '<div class="container">'+
        '<%= attachment_image_tag post.post_images.first, :image,class:"map_image", fallback: "no_image.jpg" %>'+
        '<div class="row">'+
        '<div class="col-6 text-center">'+
        '<%= post.user.name %>'+
        '</div>'+
        '<div class="col-6 text-center">'+
        '<%= post.favorites.count %>いいね'+
        '</div>'+
        '</div>'+
        '<div class="row">'+
        '<div class="col-12 text-center">'+
        '<%= link_to "Details",public_post_path(post), data: {"turbolinks" => false},class:"btn btn-primary btn-sm"%>'+
        '</div>'+
        '</div>'+
        '</div>'; 
        var infowindow = new google.maps.InfoWindow({
            content: contentString
            
            
        });

        var marker = new google.maps.Marker({
            position:{lat: <%= post.latitude %>, lng: <%= post.longitude %>},
            map: map,
            title: contentString, //お好みのアイコンが無ければ、左のカンマを削除
            icon: markerImg
        });

        var markerImg = new google.maps.MarkerImage( 
          '<%= attachment_image_tag post.post_images.first, :image, size: "220x180", fallback: "no_image.jpg" %>',  //アイコンとして使う画像パスの指定   #1            
          new google.maps.Size(137, 53), //アイコンの画像サイズ#2
          new google.maps.Point(0, 0)//アイコンの位置
        ); 

        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
       })();
      <% end %>
      //複数マーカー ここまで  
  }

</script>

