<% if flash[:notice] %>
  <h4 class="alert alert-success text-center"><%= flash[:notice] %></h4>
<% end %>
<div class="container">
  <div class="top-back-sign">
    <div class="row">
      <div class="col-md-7">
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-12">
            <div class="text-center">
              <h1 class="top-h1">PhotoPlaceへ<br>ようこそ</h1>
            </div>
          </div>
        </div>
        <div classs="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 text-center">
                <%= link_to "sign in", new_user_session_path,class:"btn btn-success",role:"button"  %>
              </div>
              <div class="col-md-6 text-center">
                <%= link_to "sign up", new_user_registration_path,class:"btn btn-primary",role:"button" %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <%= link_to "風景を探す", public_posts_path,class:"btn btn-secondary",role:"button" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="top-content">
    <div class="row">
      <div class="col-md-10">
        <p class="text-center">このサイトでは会員様の投稿全てがGoogleマップ上に表示されます。</p>
        <p class="text-center">MAP上のピンをクリックすると投稿の写真といいね数が閲覧でき、そのまま詳細のページに移動できます。</p>
        <p class="text-center">サイトの使い方を知る前に一度、右のアイコンからMAPを見てみませんか？</p>
      </div>
      <div class="col-md-2">
        <%= link_to public_maps_path, data: {"turbolinks" => false} do %>
          <i class="fas fa-map-marked-alt map-icon"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="top-back-tag">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-10">
          <h1 class="text-center back-text-title">Tags</h1>
          <p class="text-center back-text">投稿には付けたいタグを好きなだけ付けることができ、</p>
          <p class="text-center back-text">似たようなタグは自動的に既存のタグにまとめられます。</p>
          <p class="text-center back-text">ここでは人気のタグを載せており、選択するとタグに関連づけられた投稿が閲覧できます。</p>
          <p class="text-center back-text">右のアイコンからタグの検索ページに移動できます。</p>
        </div>
        <div class="col-md-2">
          <%= link_to public_posts_path do %>
            <i class="far fa-images posts-icon"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="top-content">
    <div class="row">
      <% @tag_ranking.each do |tag| %>
        <div class="tag-ranking text-center">
          <%= link_to public_tag_path(tag),class:"btn btn-primary" do %>
            <%= tag.name %>
            (<%= tag.post_tags.count %>)
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="top-back-new">
    <h1 class="text-center back-text-title">New</h1>
    <p class="text-center back-text">今、投稿された最新の投稿を集めています。</p>
    <p class="text-center back-text">流行りの風景や撮影スポットを知ることができます。</p>
    <p class="text-center back-text">写真をクリックするとその投稿の詳細をみることができます。</p>
  </div>
  <div class="top-content">
    <div class="row">
      <% @new_posts.each do |post| %>
        <div id="posts">
          <div class="post_image">
            <%= link_to public_post_path(post) do %>
              <%= attachment_image_tag post.post_images.first, :image, size: "300x200", fallback: "no_image.jpg" %>
            <% end %>
          </div>
          <div class="post_text">
            <div class="row">
              <div class="col-md-6 text-center">
                  <%= post.title %>
              </div>
              <div class="col-md-6 text-center">
                <%= post.favorites.count %>いいね
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="text-center">
                  <%= post.address %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="top-back-popular">
    <h1 class="text-center back-text-title">Popular</h1>
    <p class="text-center back-text">ここでは人気の投稿を載せています。</p>
    <p class="text-center back-text">見る人が釘付けになるような写真だけを載せています。</p>
    <p class="text-center back-text">写真をクリックするとその投稿の詳細をみることができます。</p>
  </div>
  <div class="top-content">
    <div class="row">
      <% @post_ranking.each do |post| %>
        <div id="posts" >
          <div class="post_image">
            <%= link_to public_post_path(post) do %>
              <%= attachment_image_tag post.post_images.first, :image, size: "300x200", fallback: "no_image.jpg" %>
            <% end %>
          </div>
          <div class="post_text">
            <div class="row">
              <div class="col-md-6 text-center">
                  <%= post.title %>
              </div>
              <div class="col-md-6 text-center">
                <%= post.favorites.count %>いいね
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="text-center">
                  <%= post.address %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
