
  <% @post.post_images.each do |image| %>
    <%= attachment_image_tag image, :image, size: "50x50", fallback: "no_image.jpg" %>
  <% end %>
  <%= @post.title %>
  <%= @post.content %>
  <%= @post.price %>
  <%= @post.address %>
  <%= @post.favorites.count %> いいね

  <%= link_to edit_admin_post_path(@post) do %>
    <p>この投稿を編集する</p>
  <% end %>

  <table class="table table-striped">
    　<thead>
      <tr>
        <th>顔写真</th>
        <th>会員名</th>
        <th>コメント内容</th>
      </tr>
    <thead>

    <% @post.comments.each do |comment| %>
      <tbody>
        <tr>
          <th><%= attachment_image_tag comment.user, :profile_image, size: "50x50", fallback: "no_image.jpg" %></th>
          <th>
            <%= link_to admin_user_path(comment.user.id) do %>
              <%= comment.user.name %>
            <% end %>
          </th>
          <th><%= comment.content %></th>
          <th><%= comment.created_at.strftime('%Y/%m/%d') %></th>
        </tr>
      </tbody>
    <% end %>
</table>