<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="container">
  <h1 class="text-center">管理者 Log_in</h1>
  <div class="row">
    <div class="col-md-12">
      <div class="error">
        <%= devise_error_messages! %>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4">
        <div class="row">
          <div class="sign col-md-12">
            <div class="text-center">
              <p class="sign">Admin user</p>
              <p>Email<br/>aaaaa@ne </p>
              <p>Password<br/>aaaaaa </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="sign">
              <div class="text-center">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="sign col-md-12">
              <div class="text-center">
                <%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "current-password" %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="sign">
              <div class="col-md-12">
                <div class="text-center">
                  <%= f.submit "Log in",class:"btn btn-success"%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
</div>
<% end %>