<% if flash[:notice] %>
        <h4 class="alert alert-success text-center"><%= flash[:notice] %></h4>        
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-1">
      <div class="text-center">
        <h3>タグ</h3>
      </div>
      <% @tags.each do |tag| %>
        <div class="tags text-center">
          <%= link_to public_tag_path(tag) do %>
            <%= tag.name %>
            (<%= tag.post_tags.count %>)
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-md-11">
      <% @posts.each do |post| %>
          <div id="posts" >
            <div class="post_image">
              <%= link_to public_post_path(post), data: {"turbolinks" => false} do %>
                <%= attachment_image_tag post.post_images.first, :image, size: "300x200",class:"image", fallback: "no_image.jpg" %>
              <% end %>
            </div>
            <div class="post_text">
              <div class="text-center">
                <%= post.title %>
              </div>
              <div class="row">
                  <div class="col-md-6 text-center">
                    <%= post.user.name %>
                  </div>
                  <div class="col-md-6 text-center">
                    <%= post.favorites.count %> いいね
                </div>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>