
<div class="container">
  <%= form_for @user, url: admin_user_path(@user) do |f| %> 
    <div class="row">
      <div class="edit col-md-12">
        <h3 class="text-center">
          <%= f.label :"名前" %><br />
          <%= f.text_field :name %>
        </h3>
      </div>
      <div class="edit col-md-12">
        <div class="text-center">
          <label class="control-label" for="inputProfile_image"><h3>顔写真</h3></label><br />
          <%= f.attachment_field :profile_image,placeholder: "プロフィール画像" %>
        </div>
      </div>
      <div class="edit col-md-12">
        <h3 class="text-center">
          <%= f.label :メールアドレス %><br />
          <%= f.text_field :email, autofocus: true %>
        </h3>
      </div>
      <div class="edit col-md-12">
        <h3 class="text-center">
          <%= f.label :"自己紹介文"%><br />
          <%= f.text_area :introduction,class:"text",autofocus: true %>
        </h3>
      </div>
      <div class="edit col-md-12">
        <h3 class="text-center">
          <%= f.submit "更新する", class: "btn-lg btn-success" %>
        </h3>
      </div>
    </div>
  <% end %>
</div>
