<%= javascript_include_tag 'public/user_show.js' %>
<div class="container profile">
  <div class="wrap">
    <div class="row">
      <div class="col-md-12">
        <ul id="tab-menu-user" class="clearfix">
          <li><a href="#tab1" class="active">Profile</a></li>
          <li><a href="#tab2" class="">Post</a></li>
          <li><a href="#tab3" class="">Favorite</a></li>
        </ul>
      </div>
    </div>
    <div id="tab-contents-user" class="clearfix">
      <div id="tab1" class="tab">
        <div class="row">
          <div class="col-md-5">
            <%= attachment_image_tag @user, :profile_image, size: "400x300", fallback: "no_image.jpg" %>
          </div>
          <div class="col-md-5">
            <div class="text-left">
              <h3 class="user-show text-center">あなたの名前：<%= @user.name %></h3>
              <h3 class="user-show text-center">Email：<%= @user.email %></h3>
              <div class="row">
                <div class="col-md-12">
                  <h3 class="user-show text-center">自己紹介文</h3>
                  <p class="user-introduction text-center"><%= @user.introduction %></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="text-center">
              <div class="btn">
                <%= link_to edit_admin_user_path(@user),class:"btn btn-info",role:"button" do %>
                  <p>会員情報を<br>編集</p>
                <% end %>
              </div>
              <div class="btn">
                <%= link_to admin_user_path(@user),method: :delete,class:"btn btn-danger",role:"button" do %>
                  <p>会員を<br>強制退会</p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="tab2" class="tab">
        <div class="row">
          <div class="col-md-12">
            <div class="text-center">
              <h2>会員の投稿</h2>
            </div>
            <% @user.posts.each do |post| %>
              <div id="posts" >
                <div class="post_image">
                  <%= link_to admin_post_path(post) do %>
                    <%= attachment_image_tag post.post_images.first, :image, size: "300x200", fallback: "no_image.jpg" %>
                  <% end %>
                </div>
                <div class="post_text">
                  <div class="row">
                    <div class="col-md-6 text-center">
                        <%= post.title %>
                    </div>
                    <div class="col-md-6 text-center">
                      <%= post.favorites.count %>いいね
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="text-center">
                        <%= post.address %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div id="tab3" class="tab">
        <div class="row">
          <div class="col-md-12">
            <div class="text-center">
              <h2>いいね一覧</h2>
            </div>
            <% @posts.each do |post| %>
              <div id="posts" >
                <div class="post_image">
                  <%= link_to public_post_path(post) do %>
                    <%= attachment_image_tag post.post_images.first, :image, size: "300x200", fallback: "no_image.jpg" %>
                  <% end %>
                </div>
                <div class="post_text">
                  <div class="row">
                    <div class="col-md-6 text-center">
                        <%= post.title %>
                    </div>
                    <div class="col-md-6 text-center">
                      <%= post.favorites.count %>いいね
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="text-center">
                        <%= post.address %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

