<!DOCTYPE html>
<html>
  <head>
    <title>PhotoPlace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%# <link rel="stylesheet" href="/jquery.bxslider.css"> %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> %>
    <%# Google Map %>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDV3FrzOT8FZ7-zSj_SKFEPslqSdQNWQvo&callback=initMap">
    </script>
    <script src="https://kit.fontawesome.com/cd239a14b3.js" crossorigin="anonymous"></script>
    <%# bxslider %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    
  </head>
  <header class="header-top">
    <div class="navbar">
      <div>
        <% if admin_signed_in? %>
          <%= link_to image_tag("PhotoPlace_logo.png", class: "logo_image"),  admin_posts_path %>
        <% else %>
          <%= link_to image_tag("PhotoPlace_logo.png", class: "logo_image"),  public_homes_top_path %>
        <% end %> 
      </div>
      <nav class="nav navbar-expand-lg navbar-right">
        <% if admin_signed_in? %>
        <%# 管理者ログイン %>
          <li class="header-icon">
            <%= link_to admin_users_path do %>
              <i class="fas fa-users"></i>
            <% end %>
          </li>
          <li class="posts header-icon">
            <%= link_to admin_posts_path do %>
              <i class="far fa-images"></i>
            <% end %>
          </li>
          <li class="map header-icon">
            <%= link_to admin_maps_path ,data: {"turbolinks" => false} do %>
              <i class="fas fa-map-marked-alt"></i>
            <% end %>
          </li>
          <li class="header-icon">
            <%= link_to destroy_admin_session_path,method: :delete do %>
              <i class="fas fa-sign-out-alt"></i>
            <% end %>
          </li>
        <% elsif user_signed_in? %> 
        <%# 会員ログイン %>
          <li class="header-icon none">
            <%= link_to public_user_path(current_user.id) do %>
              <i class="fas fa-user">
                <% current_user.name %>
              </i>
            <% end %>
          </li>
          <li class="header-icon none">
            <%= link_to public_posts_path do %>
              <i class="far fa-images"></i>
            <% end %>
          </li>
          <li class="header-icon none">
            <%= link_to public_maps_path, data: {"turbolinks" => false} do %>
              <i class="fas fa-map-marked-alt"></i>
            <% end %>
          </li>
          <li class="header-icon none">
            <%= link_to new_public_user_post_path(current_user) do %>
              <i class="fas fa-book-open"></i>
            <% end %>
          </li>
          <li class="header-icon">
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fas fa-sign-out-alt"></i>
            <% end %>
          </li>
        <% else %> 
        <%# 非ログイン %>
          <li class="header-icon none">
            <%= link_to public_maps_path, data: {"turbolinks" => false} do %>
              <i class="fas fa-map-marked-alt"></i>
            <% end %>
          </li>
          <li class="header-icon none">
            <%= link_to public_homes_about_path do %>
              <i class="fas fa-book-reader"></i>
            <% end %>
          </li>
          <li class="header-icon none">
            <%= link_to new_user_session_path do %>
              <i class="fas fa-sign-in-alt"></i>
            <% end %>
          </li>
          <li class="header-icon none">
            <%= link_to new_user_registration_path do %>
              <i class="fas fa-user-plus"></i>
            <% end %>
          <li>
        <% end %> 
      </nav>
    </div>
  </header>
  <body>
    <main>
    <%= yield %>
    </main>
    <span id="back">
      <a href="#">
        <i class="fas fa-chevron-circle-up"></i>
      </a>
    </span>
    <ul class="bottom-menu">
      <div class="container">
        <div class="row no-gutters">
          <% if user_signed_in? %>
            <li class="col-3 col-sm-3 text-center">
              <%= link_to public_user_path(current_user.id) do %>
                <i class="fas fa-user"></i><br><span class="mini-text">HOME</span>
              <% end %>
            </li>
            <li class="col-3 col-sm-3 text-center">
              <%= link_to public_posts_path do %>
                <i class="far fa-images"></i><br><span class="mini-text">POST</span>
              <% end %>
            </li>
            <li class="col-3 col-sm-3 text-center">
              <%= link_to public_maps_path, data: {"turbolinks" => false} do %>
                <i class="fas fa-map-marked-alt"></i><br><span class="mini-text">MAP</span>
              <% end %>
            </li>
            <li class="col-3 col-sm-3 text-center">
              <%= link_to new_public_user_post_path(current_user) do %>
                <i class="fas fa-book-open"></i><br><span class="mini-text">NEW</span>
              <% end %>
            </li>
          <% else %>
            <li class="col-3 col-sm-3 text-center">
              <%= link_to public_homes_about_path do %>
                <i class="fas fa-book-reader"></i><br><span class="mini-text">ABOUT</span>
              <% end %>
            </li>
            <li class="col-3 col-sm-3 text-center">
              <%= link_to public_maps_path, data: {"turbolinks" => false} do %>
                <i class="fas fa-map-marked-alt"></i><br><span class="mini-text">MAP</span>
              <% end %>
            </li>
            <li class="col-3 col-sm-3 text-center">
              <%= link_to new_user_session_path do %>
                <i class="fas fa-sign-in-alt"></i><br><span class="mini-text">Sign_In</span>
              <% end %>
            </li>
            <li class="col-3 col-sm-3 text-center">
              <%= link_to new_user_registration_path do %>
                <i class="fas fa-user-plus"></i><br><span class="mini-text">Sign_Up</span>
              <% end %>
            </li>
          <% end %>
        </div>
      </div>
    </ul>
  </body>
  <footer class="footer">
    <div class="row no-gutters">
      <div class="col-10 col-sm-10 col-md-10 col-lg-10">
        <p class="text-left footer-text">© All rights reserved by PhotoPlace.Inc.</p>
      </div>
      <div class="col-2 col-sm-2 col-md-2 col-lg-2">
        <%= link_to "ABOUT",public_homes_about_path,class:"text-right footer-text" %>
      </div>
    </div>
  </footer>

</html>