<!DOCTYPE html>
<html>
  <head>
    <title>PhotoPlace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# <meta charset="UTF-8">
    <link rel="stylesheet" href="css/skippr.css"> 
    <link rel="stylesheet" href="css/style.css">  %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

    <header class="navbar navbar-custom">
      <div class="container">
        <div class="collapse navbar-collapse" id="navbarEexample6">
          <div class="navbar-left">
            <h1>ロゴ</h1>
          </div>
          <% if admin_signed_in? %> 
            <%= link_to "会員一覧", admin_users_path %>
            <%= link_to "投稿一覧", admin_posts_path %>
            <%# <%= link_to "MAP", admin_maps_path %> 
            <%= link_to "TOP", admin_homes_top_path %>
            <%= link_to "タグ一覧", admin_tags_path %>
            <%= link_to "log out", destroy_admin_session_path,method: :delete %>
            
          <% elsif user_signed_in? %> 
            <%= link_to public_user_path(current_user.id) do %>
              <% current_user.name %>
            <% end %>
            <%= link_to "投稿一覧", public_posts_path %>
            <%# <%= link_to "MAP",  %>
            <%= link_to "Log out",destroy_user_session_path, method: :delete %>
            <%= link_to "投稿",new_public_user_post_path(current_user) %>

          <% else %> 
            <%= link_to "ABOUT", public_homes_about_path %>
            <%= link_to "TOP", public_homes_top_path %>
            <%= link_to "Log in",  new_user_session_path %>
            <%= link_to "Sign up", new_user_registration_path %>
          
          <%  end %> 
        </div>
      <div>
      
    </header>
  <body>
    
    <%= yield %>
  </body>
</html>
